:root {

  --main-font: IBM Plex Mono, monospace;
  --background-image: url(../images/cover-image-dark.png);
  --main-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-description: 18px;
  --font-weight-h2: bold;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --title-decor: #FF0070;
  --title-decor-color: #000028;
  --main-bg-color: #000028;
  --footer-bg-color: #000028;
  --color-description: #F1B2CE;
  --shadow-color: #FF0070;
  --decorated-color: #FF0070;
  --border-color: #FF0070;
  --border-color-hover: #FF007040;
}

.header__text-decorated {
  display: block;
}